@{
    ViewData["Title"] = "Contato Factory Solution IT";
}
<h2>@ViewData["Title"]</h2>

<address>
    Endereço:<br />
    Alameda Arantes, 66 - Portal das Estrelas<br />
    <abbr title="Phone">Telefone:</abbr>
    (11) 95292-5113 - Milton Honji
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:FactorySolution">factorysolutionIT@outlook.com</a><br />
</address>
