
@{
    ViewBag.Title = "Delete";
}

<h2>Excluir Dizimista</h2>

<hr />

<p>
    Deseja realmente excluir o Dizimista <strong> @(Model.Name) </strong>?
</p>

<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <button class="btn btn-primary">Sim</button>
    <a class="btn btn-default" href="/Tithers">Cancelar</a>
</form>