@model IEnumerable<Sispar.Core.Entities.Tither>

@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Dizimistas</h2>

<hr />

<div>
    <a class="btn btn-info" href="./Tithers/Add">Adicionar Dizimista</a>
</div>

<br />

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Nome</th>
            <th>Dt. Nascimento</th>
            <th>CPF</th>
            <th>Estado Civil</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tither in Model)
        {
            <tr>
                <td>@tither.Name</td>
                <td>@tither.BirthDate.ToString("dd/MM/yyyy")</td>
                <td>@tither.CPF</td>
                <td>@tither.MatiralStatus</td>
               
                <td>
                    <a class="btn btn-primary" href="/Tithers/Edit/@tither.Id"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" href="/Tithers/Delete/@tither.Id"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table> 