@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Velho Barreto, 05<br />
    Brasil, São Paulo, 94201-6772<br />
    <abbr title="Phone">P:</abbr>
</address>

<address>
    <strong>Company:</strong>   <a href="mailto:Support@example.com">factorysolutionIT@outlook.com</a><br />
    <strong>Developer:</strong>   <a href="mailto:Support@example.com">honji_milton_4@hotmail.com</a><br />
    <strong>Developer:</strong>   <a href="mailto:Support@example.com">flpsno@hotmail.com</a><br />
</address>